<%= content_for :panel_header do %>
  <%= link_to 'New Import', new_import_path, :class => 'ajax-load-new-tab' %> &raquo;
  GNACLR
<% end %>

<ul id="tree-newimport" class="list">
  <% @gnaclr_classifications.each do |classification| %>
    <li>
      <%= link_to gnaclr_classification_path(classification), :class => "ajax-load-new-tab" do %>
        <div class="btn-img result">
          <div class="content">
            <h2><%= classification.title %></h2>
            <% if classification.description.present? %>
              <p><%= classification.description %></p>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      <% end %>
    </li>
  <% end %>
</ul>
