<%= content_for :panel_header do %>
  <%= link_to 'New Import', new_import_path, :class => 'ajax-load-new-tab' %>: GNACLR
<% end %>

<ul id="treelist">
  <% @gnaclr_classifications.each do |classification| %>
    <%= link_to gnaclr_classification_path(classification), :class => "ajax-load-new-tab" do %>
      <li>
      <div class="content">
        <h2><%= classification.title %></h2>
        <% if classification.description.present? %>
          <p><%= classification.description %></p>
        <% end %>
      </div>
      <div class="clearfix"></div>
      </li>
    <% end %>
  <% end %>
</ul>
