<%= content_for :panel_header do %>
  <%= link_to 'New Import', new_import_path, :class => 'ajax-load-new-tab' %> &raquo;
  <%= link_to 'GNACLR', gnaclr_classifications_path, :class => 'ajax-load-new-tab' %> &raquo;
  <%= @gnaclr_classification.title %>
<% end %>

<ul id="tree-newimport">
  <li>
    <div class="btn-img result">
      <div class="content">
        <h2><%= @gnaclr_classification.title %></h2>
        <% if @gnaclr_classification.description.present? %>
          <p><%= @gnaclr_classification.description %></p>
        <% end %>
        <% if @gnaclr_classification.authors.try(:any?) %>
          <p>Authors: <%= author_line_for_classification(@gnaclr_classification) %>.</p>
        <% end %>
        <div class="date-wrap">
          <div class="date">Updated: <%= @gnaclr_classification.updated %></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </li>

  <% 3.times do |n| %>
    <li>
      <div class="btn-img">
        <div class="content">
          <h2>Revision <%= n %>: <%= (5-n).months.ago.to_s(:short) %></h2>
          <p>(Import not yet implemented - these are not real revisions.)</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </li>
  <% end %>
</ul>
