<%= content_for :panel_header do %>
  <li>
    <%= link_to 'New Import', new_master_tree_import_path(@master_tree), :class => 'ajax-load-new-tab' %>
  </li>
  <li>
    <%= link_to 'GNACLR', master_tree_gnaclr_classifications_path(@master_tree), :class => 'ajax-load-new-tab' %>
  </li>
  <li>
    <%= @gnaclr_classification.title %>
  </li>
<% end %>
<div id="gnaclr-description" class="clearfix">
  <h2><%= @gnaclr_classification.title %></h2>
    <div class="date-wrap clearfix">
      <% if @gnaclr_classification.authors.try(:any?) %>
        <div class="author">Authors: <%= author_line_for_classification(@gnaclr_classification) %>.</div>
      <% end %>
      <div class="date">Updated: <%= @gnaclr_classification.updated %></div>
    </div>
    <% if @gnaclr_classification.description.present? %>
    <p><%= @gnaclr_classification.description %></p>
    <input id="import-gnaclr-button" class="green-submit" name="Import" type="submit" value="Import" data-tree-url="<%= @gnaclr_classification.file_url %>">
  <% end %>
</div>

<div id="tree-revisions">
  <h3>Choose a revision to import</h3>
  <form>
  <ul id="revisions">
    <li>
      <input type="radio">
      <p class="revision-number">Revision 0</p>
      <p class="date">01 Apr 18:37</p>
    </li>
    <li>
      <input type="radio">
      <p class="revision-number">Revision 0</p>
      <p class="date">01 Apr 18:37</p>
    </li>
  </ul>

  <input id="import-gnaclr-button" class="green-submit" name="Import" type="submit" value="Import">
  </form>
</div>
