<!-- Start of Body Content --> 
<div id="content"> 
  <!-- Start of Settings Body --> 
  <div id="header"> 
    <h1>Change Password</h1> 
  </div> 
  <div id="bodywrap"> 

    <%= semantic_form_for(:user, :url  => your_password_path, :html => { :method => :put }) do |form| %>
      <div class="infobox-wrap">
        <div class="title">
          <p>Choose a new password</p>
        </div>
        <div class="infobox">
          <%= form.error_messages %>
          <div class="info-content">
            <%= form.inputs do -%>
              <%= form.input :password, :as => :password, :label => "Choose password", :input_html => { :class => "input" } %>
              <%= form.input :password_confirmation, :as => :password, :label => "Confirm password", :input_html => { :class => "" } %>
            <% end -%>
          </div>
        </div>
      </div>
        <%= form.buttons do -%>
          <%= form.commit_button "Save this password", :button_html => { :class => "blue-submit" }  %>
        <% end -%>
    <% end %>

  </div>
</div>
