<div class="infobox-wrap">
  <div class="title">
    <p>Change Password</p>
  </div>
  <div class="infobox">
    <%= semantic_form_for(:user,
                :url  => your_password_path,
                :html => { :method => :put }) do |form| %>
      <%= form.error_messages %>
      <div class="info-content">
      <%= form.inputs do -%>
        <p>Your password has been reset. Choose a new password below.</p>

        <%= form.input :password,
                       :as => :password,
                       :label => "Choose password",
                       :input_html => { :class => "input" } %>
        <%= form.input :password_confirmation,
                       :as => :password,
                       :label => "Confirm password",
                       :input_html => { :class => "prefilled" } %>
      <% end -%>
      </div>
    </div>
  </div>  
<%= form.buttons do -%>
  <%= form.commit_button "Save this password", :button_html => { :class => "blue-submit" }  %>
<% end -%>
</div>
<% end %>