<% content_for :header do %>
  Change Password
<% end %>

<%= semantic_form_for(:user, :url  => your_password_path, :html => { :method => :put }) do |form| %>
  <div class="infobox-wrap clearfix">
    <div class="breadcrumbs">
      <ul>
        <li>Choose a new password</li>
      </ul>
    </div>
    <div class="infobox">
      <%= form.error_messages %>
      <div class="info-content">
        <%= form.inputs do -%>
          <%= form.input :password, :as => :password, :label => "Choose password", :input_html => { :class => "input" } %>
          <%= form.input :password_confirmation, :as => :password, :label => "Confirm password", :input_html => { :class => "" } %>
        <% end -%>
      </div>
    </div>
  </div>

  <%= form.buttons do -%>
    <%= form.commit_button "Save this password", :button_html => { :class => "green-submit" }  %>
  <% end -%>
<% end %>
