<div class="bookmarks-wrapper">
<% if @bookmarks.any? %>
  <ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <div class="bookmarks-input">
        <input type="text"></input>
        <span>[<a href="#" class="bookmarks-save" data-node-id="<%= bookmark[:id] %>">Save</a>]</span>
        <span>[<a href="#" class="bookmarks-cancel">Cancel</a>]</span>
      </div>
      <span><a href="#" class="bookmarks-show" data-treepath-ids="<%= bookmark[:tree_path] %>"><%= bookmark[:title] %></a></span>
      <span>[<a href="#" class="bookmarks-edit" data-node-id="<%= bookmark[:id] %>">Edit<a/>]</span>
      <span>[<a href="#" class="bookmarks-delete" data-node-id="<%= bookmark[:id] %>">Delete</a>]</span>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>There are not yet any bookmarks<p>
<% end %>
</div>