<!-- Contributors -->
  <div class="infobox-wrap contributors">
    <div class="breadcrumbs">
      <ul>
        <li>Contributors</li>
      </ul>
    </div>
    <div class="infobox">
    <div class="info-content clearfix">
      <% User.find(:all, order: "email").each do |user| %>
        <% if @master_tree.user_id.eql?(user.id) %>
          <%= hidden_field_tag "master_tree[master_tree_contributor_ids][]", user.id %>
        <% else %>
          <div class="contributor">
            <%= check_box_tag "master_tree[master_tree_contributor_ids][]", user.id, @master_tree.users.include?(user), { id: "master-tree-contributor-#{user.id}", class: "checkbox" } %>
            <%= hidden_field_tag "master_tree[master_tree_contributor_ids][]", nil, { id: "master-tree-contributor-#{user.id}" } %>
            <label for="master-tree-contributor-<%= user.id %>" class="checkbox"><%= user.email %></label>
         </div>
       <% end %>
     <% end %>
    </div>

    </div>
  </div>