<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1><%= raw @breadcrumbs.map { |txt, path| "#{link_to_unless(path.blank?, h(txt), path)}" }.join(" :: ") %> :: <%= @master_tree.title %></h1>
    </div>
  </div>
<% end %>

<div id="tree-container" class="tree-column clearfix" data-database-id="<%= @master_tree.id %>">

  <div id="treewrap-main">
    <%= semantic_form_for(@master_tree, url: admin_master_tree_path(@master_tree), html: { method: :put, id: "tree-metadata" }) do |form| %>
      <div class="tree-back-wrap">
        <div class="breadcrumbs">
          <ul>
            <li>Edit Tree Info</li>
          </ul>
        </div>

<div class="tree-owner">
  <h3>Owner</h3>
  <% if !@master_tree.creator.surname.blank? %>
    <p><%= @master_tree.creator.given_name %> <%= @master_tree.creator.surname %></p>
  <% end %>
  <p><%= @master_tree.creator.email %></p>
</div>

        <%= render partial: "master_trees/form", locals: { form: form } %>

      </div>

      <%= render partial: "contributors", locals: { form: form } %>

      <%= form.actions do -%>
        <%= form.action :submit, as: :button, label: "Update", button_html: { class: "green-submit", name: 'update' } %>
        <%= form.action :submit, as: :button, label: "Cancel", button_html: { class: "cancel-button", name: 'cancel' } %>
      <% end -%>
    <% end %>
  </div>
</div>