<div id="loginform" class="clearfix">
  <%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.inputs :title => "Sign in to your account" do %>
      <%= f.input :email, :input_html => { :class => "input" } %>
      <%= f.input :password, :input_html => { :class => "input" } %>
    <% end -%>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %><%= f.label "remember me", :class => "remember-me" %>
    <% end -%>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :label => "Sign in", :button_html => { :class => "green-submit" } %>
    <% end -%>

  <% end %>
</div>
