<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1>Edit History for <%= @master_tree.title %></h1>
      <div id="tree-return" class="tree-link clearfix">
        <a href="<%= master_tree_path(:id => @master_tree.id) %>"><span>Back to Master Tree</span></a>
      </div>
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <td class="action-command-action">Logged action</td>
      <td class="action-command-user">User</td>
      <td class="action-command-updated">Updated</td>
    </tr>
  </thead>
  <tbody>
  <% if @messages.any? %>
    <% @messages.each do |message| %>
    <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (message == @messages.last && row_type == 'even') ? " last last-even" : (message == @messages.last && row_type == 'odd') ? " last last-odd": "" %>">
      <td><%= message[:message] %></td>
      <td><%= message[:user] %></td>
      <td><%= message[:updated] %></td>
    </tr>
    <% end %>
  <% else %>
     <tr class="single">
       <td colspan="3">There are not yet any edits to your tree</td>
     </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @logs, :class => 'pagination' %>