<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1>Edit History for <%= @master_tree.title %></h1>
      <div id="tree-return" class="tree-link clearfix">
        <a href="<%= master_tree_path(id: @master_tree.id) %>"><span>View Master Tree</span></a>
      </div>
    </div>
  </div>
<% end %>

<div class="clearfix">
  <%= will_paginate @logs, class: 'pagination' %>
</div
>
<table class="gnite-table">
  <thead>
    <tr>
      <td class="header-action">Logged action</td>
      <td class="header-user">User</td>
      <td class="header-updated">Updated</td>
    </tr>
  </thead>
  <tbody>
  <% if @logs.any? %>
    <% @logs.each do |log| %>
    <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (log == @logs.last && row_type == 'even') ? " last last-even" : (log == @logs.last && row_type == 'odd') ? " last last-odd": "" %>">
      <td><%= log.message %></td>
      <td><%= log.user.email %></td>
      <td><%= log.updated_at %></td>
    </tr>
    <% end %>
  <% else %>
     <tr class="single">
       <td colspan="3">There are not yet any edits to your tree</td>
     </tr>
  <% end %>
  </tbody>
</table>

<div class="clearfix">
  <%= will_paginate @logs, class: 'pagination' %>
</div>