<% decision_types.each do |decision_type| %>
<label for="merge-input-<%= merge_id %>-<%= decision_type.id %>"></label>
<input id="merge-input-<%= merge_id %>-<%= decision_type.id %>" class="merge-input <%= decision_type.label %>" type="radio" name="merge-<%= merge_id %>" value="<%= decision_type.id %>"<%= raw (decision_type.id == decision) ? ' checked="checked"' : '' %>>
</input>
<% end %>