  <div id="new_matches_tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom<%= (index != 0) ? " ui-tabs-hide" : "" %>">
    <table id="merge-results-new" class="gnite-table merge-results">
      <thead>
        <tr>
          <%= render :partial => 'merge_decision_header' %>
          <td class="header-path">New Names</td>
        </tr>
      </thead>
      <tbody>
        <% data = @data[:new_matches].sort { |a,b| a[:secondary_path] <=> b[:secondary_path] } %>
        <% data.each do |new_name| %>
          <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (new_name == data.last && row_type == 'even') ? " last last-even" : (new_name == data.last && row_type == 'odd') ? " last last-odd": "" %>">
            <td class="merge-decision">
              <%= render :partial => 'merge_inputs', :locals => { :merge_id => new_name[:id], :decision_types => @decision_types, :decision => new_name[:merge_decision] } %>
            </td>
            <td class="<%= new_name[:type] %><%= !new_name[:subtype].nil? ? " " << new_name[:subtype] : "" %>">
              <%= new_name[:secondary_path] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>