  <div id="fuzzy_matches_tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
    <table id="merge-results-fuzzy" class="gnite-table merge-results">
      <thead>
        <tr>
          <%= render :partial => 'merge_decision_header' %>
          <td class="header-path">Primary Path</td>
          <td class="header-path">Secondary Path</td>
        </tr>
      </thead>
      <tbody>
        <% data = @data[:fuzzy_matches].sort { |a,b| a[:primary_path] <=> b[:primary_path] } %>
        <% data.each do |fuzzy| %>
          <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (fuzzy == data.last && row_type == 'even') ? " last last-even" : (fuzzy == data.last && row_type == 'odd') ? " last last-odd": "" %>">
            <td class="merge-decision">
              <%= render :partial => 'merge_inputs', :locals => { :merge_id => fuzzy[:id], :decision_types => @decision_types, :decision => fuzzy[:merge_decision] } %>
            </td>
            <td><%= fuzzy[:primary_path] %></td>
            <td class="<%= fuzzy[:type] %><%= !fuzzy[:subtype].nil? ? " " << fuzzy[:subtype] : "" %>"><%= fuzzy[:secondary_path] %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  </div>