  <div id="exact_matches_tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom<%= (index != 0) ? " ui-tabs-hide" : "" %>">
    <table id="merge-results-exact" class="gnite-table merge-results">
      <thead>
        <tr>
          <%= render :partial => 'merge_decision_header' %>
          <td class="header-path">Primary Path</td>
          <td class="header-path">Secondary Path</td>
        </tr>
      </thead>
      <tbody>
        <% data = @data[:exact_matches].sort { |a,b| a[:primary_path] <=> b[:primary_path] } %>
        <% data.each do |exact| %>
          <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (exact == data.last && row_type == 'even') ? " last last-even" : (exact == data.last && row_type == 'odd') ? " last last-odd": "" %>">
            <td class="merge-decision">
              <%= render :partial => 'merge_inputs', :locals => { :merge_id => exact[:id], :decision_types => @decision_types, :decision => exact[:merge_decision] } %>
            </td>
            <td><%= exact[:primary_path] %></td>
            <td class="<%= exact[:type] %><%= !exact[:subtype].nil? ? " " << exact[:subtype] : "" %>"><%= exact[:secondary_path] %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  </div>