<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1><%= @merge_event.memo %></h1>
    </div>
  </div>
<% end %>

<div id="merge-results-wrapper">
  <% if !@data.empty? %>
    <div id="treewrap-main">
    <div class="tree-background">
      <div class="breadcrumbs">
        <ul>
          <li>Preview</li>
        </ul>
      </div>

      <%= render :partial => 'shared/tree_searches' %>

      <a class="ui-dialog-titlebar-close" role="button" href="#">
        <span class="ui-icon ui-icon-closethick"></span>
      </a>

      <div id="add-node-wrap">
        <div class="tree-container" data-database-id="<%= @merge_event.merge_tree_id %>">
          <div id="preview-tree"></div>
        </div>
      </div>

      <div class="node-metadata ui-dialog clearfix"></div>

      <div id="merge-warning"><ul><li><a href="#">Regenerate the tree</a></li></ul></div>

    </div>
    </div>

    <div id="merge-results-table" class="full clearfix">
    <%= form_tag(:autocomplete => "off", :only_path => true, :action => :do) do %>
      <div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <% @data.each_with_index do |(key,value),index| %>
            <li class="ui-state-default ui-corner-top<%= (index == 0) ? " ui-tabs-selected ui-state-active" : "" %>">
              <a href="#<%= key %>_tab"><%= key.to_s.split("_").each{|word| word.capitalize!}.join(" ") %> (<%= @data[key].count %>)</a>
            </li>
          <% end %>
        </ul>
         <% @data.each_with_index do |(key, value),index| %>
           <%= render :partial => "merge_#{key}", :locals => { :index => index } %>
         <% end %>
      </div>
      <%= submit_tag "Preview", :class => "green-submit preview", :name => "preview" %>

      <% disabled = (@busy == true) ? " disabled": "" %>
      <%= submit_tag "Apply Merge", :class => "green-submit submit" << disabled, :name => "commit", :disabled => (@busy == true) ? true : false %>

      <%= submit_tag "Discard", :class => "cancel-button discard", :name => "discard" %>

    <% end %>
    </div>
  <% end %>
</div>

<% if @editors.count > 0 %>
  <%= render :partial => 'shared/chat_messages', :locals => { :editors => @editors } %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'juggernaut/application', 'jquery.spinner', 'merge', 'chat', 'jstree/jquery.jstree', 'jquery.hotkeys', 'jquery.scrollTo.min', 'waypoints.min', 'jquery.extensions' %>

<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(GNITE, { "user_id" : "<%= current_user.id %>" });
jQuery.extend(GNITE.MergeEvent, {
  "merge_event"    : "<%= @merge_event.id %>",
  "master_tree_id" : "<%= @merge_event.master_tree_id %>",
  "merge_status"   : "<%= @merge_event.status %>",
  "merge_tree_id"  : "<%= @merge_event.merge_tree_id %>",
  "merge_last_log" : "<%= @merge_last_log %>"
});
</script>
<% end %>