<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1><%= @merge_event.memo %></h1>
      <div id="tree-return" class="tree-link clearfix">
        <a href="<%= master_tree_path(:id => @master_tree.id) %>"><span>View Master Tree</span></a>
      </div>
    </div>
  </div>
<% end %>

<div id="merge-results-wrapper">
  <% if !@data.empty? %>
    <%= form_tag(:autocomplete => "off", :only_path => true) do %>
      <div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <% @data.each_with_index do |(key,value),index| %>
            <li class="ui-state-default ui-corner-top<%= (index == 0) ? " ui-tabs-selected ui-state-active" : "" %>">
              <a href="#<%= key %>_tab"><%= key.to_s.split("_").each{|word| word.capitalize!}.join(" ") %> (<%= @data[key].count %>)</a>
            </li>
          <% end %>
        </ul>
         <% @data.each do |key, data| %>
           <%= render :partial => "merge_#{key}" %>
         <% end %>
      </div>
      <%= submit_tag "Execute", :class => "green-submit submit" %>
    <% end %>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'juggernaut/json', 'juggernaut/socket_io', 'juggernaut/juggernaut', 'jquery.spinner', 'merge' %>

  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  jQuery.extend(GNITE.Tree.MasterTree, { "id" : "<%= @master_tree.id %>", "merge_event" : "<%= @merge_event.id %>", "merge_status" : "<%= @merge_event.status %>" });
  </script>
<% end %>