<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1><%= @merge_event.memo %></h1>
      <div id="tree-return" class="tree-link clearfix">
        <a href="<%= master_tree_path(:id => @master_tree.id) %>"><span>View Master Tree</span></a>
      </div>
    </div>
  </div>
<% end %>

<div id="merge-results-wrapper">
  <% if !@data.empty? %>
    <div id="merge-results-preview" class="ui-dialog ui-widget ui-widget-content ui-corner-all">
      <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span id="ui-dialog-title-bookmarks-results-1" class="ui-dialog-title">Preview</span>
        <a class="ui-dialog-titlebar-close ui-corner-all" href="#" role="button"><span class="ui-icon ui-icon-closethick"></span></a>
      </div>
      <div id="preview-tree" class="ui-dialog-content ui-widget-content"></div>
    </div>

    <div id="merge-results-table" class="clearfix">
    <%= form_tag(:autocomplete => "off", :only_path => true) do %>
      <div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <% @data.each_with_index do |(key,value),index| %>
            <li class="ui-state-default ui-corner-top<%= (index == 0) ? " ui-tabs-selected ui-state-active" : "" %>">
              <a href="#<%= key %>_tab"><%= key.to_s.split("_").each{|word| word.capitalize!}.join(" ") %> (<%= @data[key].count %>)</a>
            </li>
          <% end %>
        </ul>
         <% @data.each_with_index do |(key, value),index| %>
           <%= render :partial => "merge_#{key}", :locals => { :index => index } %>
         <% end %>
      </div>
      <%= submit_tag "Preview", :class => "green-submit preview", :name => "preview" %>
      <%= submit_tag "Execute", :class => "green-submit submit", :name => "commit" %>
    <% end %>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'juggernaut/json', 'juggernaut/socket_io', 'juggernaut/juggernaut', 'jquery.spinner', 'merge', 'jstree/jquery.jstree', 'jquery.hotkeys' %>

  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  jQuery.extend(GNITE.MergeEvent, { "merge_event" : "<%= @merge_event.id %>", "master_tree_id" : "<%= @merge_event.master_tree_id %>", "merge_status" : "<%= @merge_event.status %>", "merge_tree_id" : "<%= @merge_event.merge_tree_id %>" });
  </script>
<% end %>