<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1>Merge Results for <%= @merge_event.memo %></h1>
      <div id="tree-return" class="tree-link clearfix">
        <a href="<%= master_tree_path(:id => @master_tree.id) %>"><span>View Master Tree</span></a>
      </div>
    </div>
  </div>
<% end %>

<div id="merge-results-wrapper">

<table id="merge-results-table" class="gnite-table">
  <thead>
    <tr>
      <td class="header-path">Primary Path</td>
      <td class="header-path">Secondary Path</td>
      <td class="header-type">Merge Type</td>
      <td class="header-type">Merge Subtype</td>
    </tr>
  </thead>
  <tbody>
    <% if @merges.any? %>
      <% @merges.each do |merge| %>
      <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (merge == @merges.last && row_type == 'even') ? " last last-even" : (merge == @merges.last && row_type == 'odd') ? " last last-odd": "" %>">
        <td><%= merge[:primary_path] %></td>
        <td><%= merge[:secondary_path] %></td>
        <td><%= merge[:type] %></td>
        <td><%= merge[:subtype] %></td>
      </tr>
      <% end %>
    <% else %>
      <tr class="single">
        <td colspan="4">There are not yet any merge results</td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>

<% content_for :javascript do %>
<%= javascript_include_tag 'juggernaut/json', 'juggernaut/socket_io', 'juggernaut/juggernaut', 'jquery.spinner', 'merge' %>

<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(GNITE.Tree.MasterTree, { "id" : "<%= @master_tree.id %>", "merge_event" : "<%= @merge_event.id %>", "merge_status" : "<%= @merge_event.status %>" });
</script>
<% end %>