<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1>Merge Results for <%= @merge_event.memo %></h1>
      <div id="tree-return" class="tree-link clearfix">
        <a href="<%= master_tree_path(:id => @master_tree.id) %>"><span>View Master Tree</span></a>
      </div>
    </div>
  </div>
<% end %>

<div id="merge-results-wrapper">
  <form autocomplete="off">
    <div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
      <% if @new_names.any? %>
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#new-tab">New Names (<%= @new_names.count %>)</a></li>
      <% end %>
      <% if @exact_matches.any? %>
        <li class="ui-state-default ui-corner-top"><a href="#exact-tab">Exact Matches (<%= @exact_matches.count %>)</a></li>
      <% end %>
      <% if @fuzzy_matches.any? %>
        <li class="ui-state-default ui-corner-top"><a href="#fuzzy-tab">Fuzzy Matches (<%= @fuzzy_matches.count %>)</a></li>
      <% end %>
    </ul>

    <% if @new_names.any? %>
      <%= render :partial => 'merge_type_new_name' %>
    <% end %>

    <% if @exact_matches.any? %>
      <%= render :partial => 'merge_type_exact' %>
    <% end %>

    <% if @fuzzy_matches.any? %>
      <%= render :partial => 'merge_type_fuzzy' %>
    <% end %>

    </div>
  </form>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'juggernaut/json', 'juggernaut/socket_io', 'juggernaut/juggernaut', 'jquery.spinner', 'merge' %>

  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  jQuery.extend(GNITE.Tree.MasterTree, { "id" : "<%= @master_tree.id %>", "merge_event" : "<%= @merge_event.id %>", "merge_status" : "<%= @merge_event.status %>" });
  </script>
<% end %>