<h2>Profile Information</h2>

<%= semantic_form_for(:user,
                      :url => user_path(@user),
                      :html => { :method => :put }) do |form| %>
  <%= form.error_messages %>
  <%= form.inputs do -%>
    <%= form.input :email %>
  <% end -%>
  <%= form.buttons do -%>
    <%= form.commit_button "Save changes" %>
  <% end %>
<% end %>
