<% content_for :header do %>
  Account Settings
<% end %>

<%= semantic_form_for(:user,
                      :url => user_path(@user),
                      :html => { :method => :put }) do |form| %>
  <div class="infobox-wrap">
    <div class="breadcrumbs">
      <ul>
        <li>Account Information</li>
      </ul>
    </div>
    <div class="infobox">
      <%= form.error_messages %>

      <div class="info-content">
        <%= form.inputs do -%>
          <%= form.input :email %>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= form.buttons do -%>
    <%= form.commit_button "Save changes", :button_html => { :class => "green-submit" } %>
  <% end %>
<% end %>
