<div id="loginwrap">
  <div id="loginform">
    <%= semantic_form_for(:user,
                          :url => user_path(@user),
                          :html => { :method => :put }) do |form| %>
      <%= form.error_messages %>
      <%= form.inputs :title => "Profile Information" do -%>
        <%= form.input :email %>
      <% end -%>
      <%= form.buttons do -%>
        <%= form.commit_button "Save changes" %>
      <% end %>
    <% end %>
  </div>
</div>
