<% content_for :header do %>
  Account Settings
<% end %>

<!-- Start of Profile Information Box --> 
<%= semantic_form_for(:user,
                      :url => user_path(@user),
                      :html => { :method => :put }) do |form| %>
  <div class="infobox-wrap"> 
    <div class="title"> 
      <p>Account Information</p> 
    </div> 
    <div class="infobox"> 
      <%= form.error_messages %>

      <!-- form -->
      <div class="info-content">
        <%= form.inputs do -%>
          <%= form.input :email %>
        <% end -%>
      </div>
    </div> 
  </div> 
  <div class="clearfix"></div>
  <%= form.buttons do -%>
    <%= form.commit_button "Save changes", :button_html => { :class => "green-submit" } %>
  <% end %>
<% end %>
<!-- End of Profile Information Box --> 
