<div id="loginform">
  <%= semantic_form_for @user, :id => "signin" do |form| %>
    <%= form.semantic_errors %>
    <%= form.inputs :title => "Sign up for a GNITE account" do %>
      <%= form.input :email, :label => "Email", :input_html => { :class => "input" } %>
      <%= form.input :password, :label => "Password", :input_html => { :class => "input" } %>
      <%= form.input :password_confirmation, :label => "Confirm password", :input_html => { :class => "input" } %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button "Sign up", :button_html => { :class => "green-submit" } %>
    <% end %>
  <% end %>
  <hr/>
  <p>Already have a GNITE account? <%= link_to "Sign in here", sign_in_path %></p>
</div>
