<div class="metadata-section metadata-synonyms clearfix">
  <div id="metadata-synonyms-<%= @metadata[:id] %>" class="lists ddsmoothmenu" data-type="synonyms">
    <ul class="topnav">
      <% if !@metadata[:synonyms].empty? %>
        <% @metadata[:synonyms].each do |synonym| %>
          <% if tree_type == "MasterTree" %>
          <li id="synonym-<%= synonym[:metadata][:id] %>" class="synonym"><a href="#"><span><%= synonym[:name_string] %></span></a>
            <ul class="subnav">
              <% ControlledVocabulary.find_by_identifier("taxonomic_status").controlled_terms.each do |status| %>
                <% metadata_class = (status.name == synonym[:metadata][:status]) ? " class=\"nav-view-checked\"": "" %>
                <li data-metadata-term="<%= status.identifier %>" class="metadata-edit"><a href="#"<%= raw metadata_class %>><%= status.name %></a></li>
              <% end %>
            </ul>
         </li>
         <% else %>
          <li title="<%= synonym[:metadata][:status] %>"><%= synonym[:name_string] %></li>
          <% end %>
        <% end %>
      <% end %>
      <% if tree_type == "MasterTree" %>
        <li class="jstree-drop">Drop</li>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>

<!--
<div class="metadata-section metadata-vernacular-names clearfix">
  <div id="metadata-vernaculars-<%= @metadata[:id] %>" class="lists ddsmoothmenu" data-type="vernacular_names">
    <ul class="topnav">
      <% if !@metadata[:vernaculars].empty? %>
        <% @metadata[:vernaculars].each do |vernacular| %>
          <% if tree_type == "MasterTree" %>
          <li id="vernacular_name-<%= vernacular[:metadata][:id] %>" class="vernacular"><a href="#"><span><%= vernacular[:name_string] %></span></a>
            <ul class="subnav">
              <li>
                <label for="vernacular-language-<%= vernacular[:metadata][:id] %>">Language</label>
                <input id="vernacular-language-<%= vernacular[:metadata][:id] %>" type="text" class="metadata-autocomplete" value="<%= vernacular[:metadata][:language][:name] %>" data-terms="url:/languages.json" data-term-id="<%= vernacular[:metadata][:language][:id] %>" /></li>
            </ul>
          </li>
          <% else %>
          <li title="<%= vernacular[:metadata][:language][:name] %>"><%= vernacular[:name_string] %></li>
          <% end %>
        <% end %>
      <% end %>
      <% if tree_type == "MasterTree" %>
        <li class="jstree-drop">Drop</li>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>

<div class="metadata-section metadata-lexicals clearfix">
  <div id="metadata-lexicals-<%= @metadata[:id] %>" class="lists ddsmoothmenu jstree-drop" data-type="lexical_variants">
    <ul class="topnav">
      <% if !@metadata[:lexicals].empty? %>
        <% @metadata[:lexicals].each do |lexical| %>
          <% if tree_type == "MasterTree" %>
          <li id="lexical_variant-<%= lexical[:metadata][:id] %>" class="lexical"><a href="#"><span><%= lexical[:name_string] %></span></a>
         </li>
         <% else %>
          <li><%= lexical[:name_string] %></li>
          <% end %>
        <% end %>
      <% end %>
      <% if tree_type == "MasterTree" %>
        <li class="jstree-drop">Drop</li>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>
-->