<div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix" data-node-id="<%= @metadata[:id] %>">
  <span class="ui-dialog-title"><%= @metadata[:name] %></span>
  <a class="ui-dialog-titlebar-close" href="#" role="button">
    <span class="ui-icon ui-icon-closethick"></span>
  </a>
</div>

<div class="metadata-section metadata-rank clearfix">
  <div class="label">
    <h4>Rank</h4>
  </div>
  <div id="metadata-rank" class="lists ddsmoothmenu">
    <ul class="topnav" data-type="ranks">
      <% if(tree_type == "MasterTree") %>
        <li class="rank"><a href="#"><span><%= @metadata[:rank] %></span></a>
          <ul class="subnav">
            <% ControlledVocabulary.find_by_identifier("rank").controlled_terms.each do |rank| %>
            <% metadata_class = (@metadata[:rank] == rank.name) ? " class=\"nav-view-checked\"": "" %>
            <li data-metadata-term="<%= rank.identifier %>"><a href="#"<%= raw metadata_class %>><%= rank.name %></a></li>
            <% end %>
          </ul>
        </li>
      <% else %>
        <li class="rank"><%= @metadata[:rank] %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="metadata-section metadata-synonyms clearfix">
  <div class="label">
    <h4>Synonyms</h4>
  </div>
  <div id="metadata-synonyms" class="lists ddsmoothmenu jstree-drop">
    <ul class="topnav" data-type="synonyms">
      <% if @metadata[:synonyms].empty? %>
        <li class="metadata-none">None</li>
      <% else %>
        <% @metadata[:synonyms].each do |synonym| %>
          <li id="synonym-<%= synonym[:metadata][:id] %>" class="synonym"><a href="#"><span><%= synonym[:name_string] %></span></a>
            <ul class="subnav">
              <% ControlledVocabulary.find_by_identifier("taxonomic_status").controlled_terms.each do |status| %>
                <% metadata_class = (status.name == synonym[:metadata][:status]) ? " class=\"nav-view-checked\"": "" %>
                <li data-metadata-term="<%= status.identifier %>" class="metadata-edit"><a href="#"<%= raw metadata_class %>><%= status.name %></a></li>
              <% end %>
            </ul>
         </li>
        <% end %>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>

<div class="metadata-section metadata-vernacular-names clearfix">
  <div class="label">
    <h4>Vernaculars</h4>
  </div>
  <div id="metadata-vernaculars" class="lists ddsmoothmenu">
    <ul class="topnav" data-type="vernacular_names">
      <% if @metadata[:vernaculars].empty? %>
        <li class="metadata-none">None</li>
      <% else %>
        <% @metadata[:vernaculars].each do |vernacular| %>
          <li id="vernacular_names-<%= vernacular[:metadata][:id] %>" class="vernacular"><a href="#"><span><%= vernacular[:name_string] %></span></a>
            <ul class="subnav">
              <li><input type="text" value="<%= vernacular[:metadata][:language][:name] %>" /></li>
            </ul>
          </li>
        <% end %>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>