<div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix" data-node-id="<%= @metadata[:id] %>">
  <span class="ui-dialog-title"><%= @metadata[:name] %></span>
  <a class="ui-dialog-titlebar-close" href="#" role="button">
    <span class="ui-icon ui-icon-closethick"></span>
  </a>
</div>

<div class="metadata-section metadata-rank clearfix">
  <div class="label">
    <h4>Rank</h4>
  </div>
  <div id="metadata-rank" class="lists ddsmoothmenu" data-type="ranks">
    <ul class="topnav">
      <li class="rank"><%= @metadata[:rank] %></li>
    </ul>
  </div>
</div>

<div class="metadata-section metadata-synonyms clearfix">
  <div class="label">
    <h4>Synonyms</h4>
  </div>
  <div id="metadata-synonyms" class="lists ddsmoothmenu jstree-drop" data-type="synonyms">
    <ul class="topnav">
      <% if @metadata[:synonyms].empty? %>
        <li class="synonym metadata-none">None</li>
      <% else %>
        <% @metadata[:synonyms].each do |synonym| %>
          <% if tree_type == "MasterTree" %>
          <li id="synonym-<%= synonym[:metadata][:id] %>" class="synonym"><a href="#"><span><%= synonym[:name_string] %></span></a>
            <ul class="subnav">
              <% ControlledVocabulary.find_by_identifier("taxonomic_status").controlled_terms.each do |status| %>
                <% metadata_class = (status.name == synonym[:metadata][:status]) ? " class=\"nav-view-checked\"": "" %>
                <li data-metadata-term="<%= status.identifier %>" class="metadata-edit"><a href="#"<%= raw metadata_class %>><%= status.name %></a></li>
              <% end %>
            </ul>
         </li>
         <% else %>
          <li><%= synonym[:name_string] %></li>
          <% end %>
        <% end %>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>

<div class="metadata-section metadata-vernacular-names clearfix">
  <div class="label">
    <h4>Vernaculars</h4>
  </div>
  <div id="metadata-vernaculars" class="lists ddsmoothmenu" data-type="vernacular_names">
    <ul class="topnav">
      <% if @metadata[:vernaculars].empty? %>
        <li class="vernacular metadata-none">None</li>
      <% else %>
        <% @metadata[:vernaculars].each do |vernacular| %>
          <% if tree_type == "MasterTree" %>
          <li id="vernacular_names-<%= vernacular[:metadata][:id] %>" class="vernacular"><a href="#"><span><%= vernacular[:name_string] %></span></a>
            <ul class="subnav">
              <li>
                <label for="vernacular-language">Language</label>
                <input id="vernacular-language" type="text" class="metadata-autocomplete" value="<%= vernacular[:metadata][:language][:name] %>" /></li>
            </ul>
          </li>
          <% else %>
          <li><%= vernacular[:name_string] %></li>
          <% end %>
        <% end %>
      <% end %>
      <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
    </ul>
  </div>
</div>