<div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix" data-node-id="<%= @metadata[:id] %>">
  <span class="ui-dialog-title"><%= @metadata[:name] %></span>
  <a class="ui-dialog-titlebar-close" href="#" role="button">
    <span class="ui-icon ui-icon-closethick"></span>
  </a>
</div>

<div class="metadata-section metadata-rank clearfix">
  <div class="label">
    <% if(tree_type == "MasterTree") %>
      <%= label_tag 'rank', 'Rank' %>
    <% else %>
      <h4>Rank</h4>
    <% end %>
  </div>
  <ul class="clearfix" data-type="ranks">
    <% if(tree_type == "MasterTree") %>
      <li class="rank select">
      <span class="metadata-select"><%= @metadata[:rank] %></span>
      <%= select_tag "rank", options_for_select([["--None--", ""]] + ControlledVocabulary.find_by_identifier("rank").controlled_terms.collect {|p| [ p.name, p.identifier ] }, @metadata[:rank]) %>
    <% else %>
      <li class="rank">
      <%= @metadata[:rank] %>
    <% end %>
    </li>
  </ul>
</div>

<div class="metadata-section metadata-synonyms clearfix">
  <div class="label">
    <% if(tree_type == "MasterTree") %>
      <%= label_tag 'synonyms', 'Synonyms' %>
    <% else %>
      <h4>Synonyms</h4>
    <% end %>
  </div>
  <ul class="clearfix synonyms<%= raw (tree_type == "MasterTree") ? " jstree-drop" : ""%>" data-type="synonyms">
    <% if @metadata[:synonyms].empty? %>
      <li class="metadata-none">None</li>
    <% else %>
      <% @metadata[:synonyms].each do |synonym| %>
        <li id="synonyms-<%= synonym[:metadata][:id] %>" class="synonym" title="<%= synonym[:metadata][:status] %>" data-metadata-flag="<%= synonym[:metadata][:status] %>"><span><%= synonym[:name_string] %></span></li>
      <% end %>
    <% end %>
    <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
  </ul>
</div>

<div class="metadata-section metadata-vernacular-names clearfix">
  <div class="label">
    <% if(tree_type == "MasterTree") %>
      <%= label_tag 'vernacular_names', 'Vernaculars' %>
    <% else %>
      <h4>Vernaculars</h4>
    <% end %>
  </div>
  <ul class="clearfix vernaculars" data-type="vernacular_names">
    <% if @metadata[:vernaculars].empty? %>
      <li class="metadata-none">None</li>
    <% else %>
      <% @metadata[:vernaculars].each do |vernacular| %>
        <li id="vernacular_names-<%= vernacular[:metadata][:id] %>" class="vernacular" title="<%= vernacular[:metadata][:language][:name] %>"><%= vernacular[:name_string] %></li>
      <% end %>
    <% end %>
    <%= raw (tree_type == "MasterTree") ? "<li class=\"metadata-add green-submit-small\">Add</li>": "" %>
  </ul>
</div>