<div id="navbar">
  <div id="logo"><a href="/"><img src="/images/logo-nav.png" alt="Global Names Integrated Taxonomic Editor"/></a></div>
  <div id="nav">
    <ul>
      <% if controller_name == 'master_trees' || controller_name == 'master_tree_logs' %>
        <li id="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to master_trees_path do %>
          <span class="nav_master_tree">Working Trees</span>
        <% end %>
      </li>
      <% if controller_name == 'users' || controller_name == 'passwords' %>
        <li id="active">
          <%= link_to edit_user_path(current_user.id) do %>
            <span class="nav_profile">Profile Settings</span>
          <% end %>
        <ul>
          <% if controller_name == 'passwords' && action_name == 'edit' %>
           <li class="active"><%= link_to 'Change Password', edit_your_password_path %></li>
          <% else %>
            <li><%= link_to 'Change Password', edit_your_password_path %></li>
          <% end %>
        </ul>
      <% else %>
        <li>
        <%= link_to edit_user_path(current_user.id) do %>
          <img class="icon" src="/images/profile-nonactive.png"/>Profile Settings
        <% end %>
      <% end %>
      </li>
      <li>
        <%= link_to sign_out_path do %>
          <img class="icon" src="/images/sign-out.png"/>Sign Out
        <% end %>
      </li>
    </ul>
  </div>
</div>
