<% case tree_type %>
<% when "MasterTree" %>
<div id="toolbar" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">File</a>
      <ul class="subnav">
          <li><a href="#" class="nav-add-node">Add single node</a><span>ctrl+n</span></li>
          <li class="divider-after"><a href="#" class="nav-add-node-bulk">Add many nodes</a><span>ctrl+shift+n</span></li>
          <li><%= link_to edit_master_tree_path, :class => "nav-edit-tree" do %>Edit tree info<% end %></li>
          <li class="divider-after"><a href="#" class="nav-publish-tree" data-master-tree-id="<%= tree.id %>">Publish tree</a></li>
          <li><a href="#" class="nav-delete-tree" data-master-tree-id="<%= tree.id %>">Delete tree</a></li>
      </ul>
    </li>
    <li><a href="#">Edit</a>
      <ul class="subnav">
          <li><a href="#" class="nav-undo">Undo</a><span>ctrl+z</span></li>
          <li class="divider-after"><a href="#" class="nav-redo">Redo</a><span>ctrl+shift+z</span></li>
          <li><a href="#" class="nav-edit-node">Edit node</a></li>
          <li><a href="#" class="nav-cut-node">Cut</a><span>ctrl+c</span></li>
          <li class="divider-after"><a href="#" class="nav-paste-node">Paste</a><span>ctrl+v</span></li>
          <li><a href="#" class="nav-delete-node">Delete node</a><span>ctrl+d</span></li>
      </ul>
    </li>
    <li><a href="#">View</a>
      <ul class="subnav">
        <li><a href="#" class="nav-refresh-tree">Refresh tree</a><span>ctrl+shift+r</span></li>
        <li><a href="#" class="nav-collapse-tree">Collapse tree</a></li>
      </ul>
    </li>
    <li><a href="#">Bookmarks</a>
      <ul class="subnav">
        <li><a href="#" class="nav-bookmarks-add">Add bookmark</a><span>ctrl+b</span></li>
        <li><a href="#" class="nav-bookmarks-view">Show bookmarks</a><span>ctrl+shift+b</span></li>
      </ul>
    </li>
  </ul>
  <div id="bookmarks-results-<%= tree.id %>" class="bookmarks-results bookmarks-master" title="<%= tree.title %> Bookmarks"></div>
</div>

<% when "ReferenceTree" %>
<div id="toolbar-reference-<%= tree.id %>" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">View</a>
        <ul class="subnav">
          <li><a href="#" class="nav-refresh-tree">Refresh tree</a></li>
          <li><a href="#" class="nav-collapse-tree">Collapse tree</a></li>
        </ul>
    </li>
    <li><a href="#">Bookmarks</a>
      <ul class="subnav">
        <li><a href="#" class="nav-bookmarks-add">Add bookmark</a></li>
        <li><a href="#" class="nav-bookmarks-view">Show all bookmarks</a></li>
      </ul>
    </li>
  </ul>
  <div id="bookmarks-results-<%= tree.id %>" class="bookmarks-results" title="<%= tree.title %> Bookmarks"></div>
</div>

<% when "DeletedTree" %>
<div id="toolbar-deleted" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">View</a>
        <ul class="subnav">
          <li><a href="#" class="nav-refresh-tree">Refresh tree</a></li>
          <li><a href="#" class="nav-collapse-tree">Collapse tree</a></li>
        </ul>
    </li>
  </ul>
</div>

<% end %>