<% case tree_type %>
<% when "MasterTree" %>
<div id="toolbar" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">File</a>
      <ul class="subnav">
          <li><a href="#" class="nav-file-add">Add single node</a><span>ctrl+n</span></li>
          <li class="divider-after"><a href="#" class="nav-file-bulkadd">Add many nodes</a><span>ctrl+shift+n</span></li>
          <li><%= link_to edit_master_tree_path, :class => "nav-file-edit" do %>Edit tree info<% end %></li>
          <li class="divider-after"><a href="#" class="nav-file-publish" data-master-tree-id="<%= tree.id %>">Publish tree</a><span>ctrl+s</span></li>
          <li><a href="#" class="nav-file-delete" data-master-tree-id="<%= tree.id %>">Delete tree</a></li>
      </ul>
    </li>
    <li><a href="#">Edit</a>
      <ul class="subnav">
          <li><a href="#" class="nav-edit-undo">Undo</a><span>ctrl+z</span></li>
          <li class="divider-after"><a href="#" class="nav-edit-redo">Redo</a><span>ctrl+shift+z</span></li>
          <li><a href="#" class="nav-edit-rename">Edit</a><span>ctrl+e</span></li>
          <li><a href="#" class="nav-edit-cut">Cut</a><span>ctrl+x</span></li>
          <li class="divider-after"><a href="#" class="nav-edit-paste">Paste</a><span>ctrl+v</span></li>
          <li><a href="#" class="nav-edit-delete">Delete</a><span>ctrl+d</span></li>
      </ul>
    </li>
    <li><a href="#">View</a>
      <ul class="subnav">
        <li class="divider-after"><a href="#" class="nav-view-deselectall">Deselect all</a></li>
        <li><a href="#" class="nav-view-refresh">Refresh tree</a><span>ctrl+shift+r</span></li>
        <li class="divider-after"><a href="#" class="nav-view-collapse">Collapse tree</a><span>ctrl+c</span></li>
        <li><%= link_to master_tree_merge_events_path(:master_tree_id => tree.id), :class => "nav-view-merge" do %>Merge events<% end %><span>ctrl+m</span></li>
        <li><%= link_to master_tree_edits_path(:master_tree_id => tree.id), :class => "nav-view-history" do %>History<% end %><span>ctrl+h</span></li>
      </ul>
    </li>
    <li><a href="#">Bookmarks</a>
      <ul class="subnav">
        <li><a href="#" class="nav-bookmarks-add">Add bookmark</a><span>ctrl+b</span></li>
        <li><a href="#" class="nav-bookmarks-view">Show bookmarks</a><span>ctrl+shift+b</span></li>
      </ul>
    </li>
    <li><a href="#">Tools</a>
      <ul class="subnav">
        <li><a href="#" class="nav-tools-merge">Merge</a></li>
      </ul>
    </li>
  </ul>
  <div id="bookmarks-results-<%= tree.id %>" class="bookmarks-results bookmarks-master" title="<%= tree.title %> Bookmarks"></div>
</div>

<% when "ReferenceTree" %>
<div id="toolbar-reference-<%= tree.id %>" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">View</a>
        <ul class="subnav">
          <li class="divider-after"><a href="#" class="nav-view-deselectall">Deselect all</a></li>
          <li><a href="#" class="nav-view-refresh">Refresh tree</a></li>
          <li><a href="#" class="nav-view-collapse">Collapse tree</a></li>
        </ul>
    </li>
    <li><a href="#">Bookmarks</a>
      <ul class="subnav">
        <li><a href="#" class="nav-bookmarks-add">Add bookmark</a></li>
        <li><a href="#" class="nav-bookmarks-view">Show all bookmarks</a></li>
      </ul>
    </li>
  </ul>
  <div id="bookmarks-results-<%= tree.id %>" class="bookmarks-results" title="<%= tree.title %> Bookmarks"></div>
</div>

<% when "DeletedTree" %>
<div id="toolbar-deleted" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">View</a>
        <ul class="subnav">
          <li class="divider-after"><a href="#" class="nav-view-deselectall">Deselect all</a></li>
          <li><a href="#" class="nav-view-refresh">Refresh tree</a></li>
          <li><a href="#" class="nav-view-collapse">Collapse tree</a></li>
        </ul>
    </li>
  </ul>
</div>

<% end %>