<!-- Start of Tree Background -->
  <div class="tree-back-wrap">
    <div class="metadata-header">
      <h1>Tree Description</h1>
    </div>
    <div class="tree-back">
      <%= form.error_messages %>

      <%= form.inputs do -%>
        <%= form.input :title %>

        <%= form.input :uuid, :input_html => { :disabled => true } %>
        <%= form.label :publication_date %>
        <%= form.date_select :publication_date %>
        <%= form.input :citation %>
        <%= form.label :abstract %>
        <%= form.text_area :abstract %>
        <%= form.input :creative_commons %>
      <% end %>
    </div>
  </div>
<!-- End of Tree Background -->
