<!-- Start of Tree Background -->
    <div class="tree-back">
      <%= form.error_messages %>

      <%= form.inputs do -%>
        <%= form.input :title %>

        <%= form.input :uuid, :input_html => { :disabled => true } %>
        <%= form.hidden_field :uuid %>
        <%= form.label :publication_date %>
        <%= form.date_select :publication_date %>
        <%= form.input :citation %>
        <%= form.label :abstract %>
        <%= form.text_area :abstract %>
        <%= form.input :creative_commons, :as         => :select,
                                          :label      => "License",
                                          :collection => Licenses::CC_LICENSES %>
      <% end %>
  </div>
<!-- End of Tree Background -->
