<% content_for :header do %>
  New Tree
<% end %>

<div id="bodywrap">
  <!-- Start of New Tree Box -->
  <%= semantic_form_for(:tree, :url => trees_path, :html => { :method => :post }) do |form| %>
    <div class="infobox-wrap">
      <div class="title">
        <p>New Tree</p>
      </div>
      <div class="infobox">
        <%= form.error_messages %>

        <!-- form -->
        <div class="info-content">
          <%= form.inputs :title => "Metadata for New Tree" do -%>
            <%= form.input :title %>
          <% end %>
        </div>
      </div>
    </div>
    <%= form.buttons do -%>
      <%= form.commit_button "Create", :button_html => { :class => "blue-submit" } %>
    <% end -%>
  <% end %>
  <!-- End of Profile Information Box -->
</div>
<!-- End of Settings Body -->
