<% if results_hash['classifications'].any? %>
  <ul class="classifications">
    <% results_hash['classifications'].each do |classification| -%>
      <li id="<%= classification['uuid'] -%>" class="search-result">

        <div class="title">
          <%= classification['title'] -%>
        </div>

        <div class="description">
          <%= classification['description'] -%>
        </div>

        <table>
          <tr>
            <td class="label">Rank:</td>
            <td class="rank"><%= classification['rank'] -%></td>
          </tr>
          <tr>
            <td class="label">Path:</td>
            <td class="path"><%= classification['path'].to_s.gsub("|", " &rsaquo; ").html_safe -%></td>
          </tr>
          <tr>
            <td class="label">Current&nbsp;name:</td>
            <td class="current-name"><%= classification['current_name'] -%></td>
          </tr>
          <tr>
            <td class="label">Found as:</td>
            <td class="found-as"><%= classification['found_as'] -%></td>
          <tr>
            <td class="label">Authors:</td>
            <td>
              <ul class="authors">
                <% classification['authors'].each do |author| %>
                  <li>
                    <div class="name"><%= "#{author['first_name']} #{author['last_name']}"-%> (<%= mail_to(author['email']) -%>)</div>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>

        <div class="import-button">
          <button class="import" data-tree-url="<%= classification['file_url'] -%>" data-revision="<%= classification['id'] -%>">Import</button>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
