<!-- Start of Forms -->
<div id="loginform">
  <%= semantic_form_for(:user,
              :url  => user_password_path(@user, :token => @user.confirmation_token),
              :html => { :method => :put }) do |form| %>
    <%= form.error_messages %>
    <%= form.inputs :title => "Change your password" do -%>
      <p>Your password has been reset. Choose a new password below.</p>

      <%= form.input :password,
                     :as => :password,
                     :label => "Choose password",
                     :input_html => { :class => "input prefilled" } %>
      <%= form.input :password_confirmation,
                     :as => :password,
                     :label => "Confirm password",
                     :input_html => { :class => "input prefilled" } %>
    <% end -%>
    <%= form.buttons do -%>
      <%= form.commit_button "Save this password", :button_html => { :class => "blue-submit" } %>
    <% end -%>
  <% end %>
</div>
<!-- End of Forms -->

