<ul class="classifications">
  <% results_hash['classifications'].each do |classification| -%>
    <li id="<%= classification['uuid'] -%>" class="search-result">
      <div class="title"> <%= classification['title'] -%> </div>
      <div class="description"> <%= classification['description'] -%></div>
      <div class="rank"> <%= classification['rank'] -%></div>
      <div class="path"> <%= classification['path'].gsub("|", " &rsaquo; ").html_safe -%></div>
      <div class="current_name"> <%= classification['current_name'] -%></div>
      <div class="found_as"> <%= classification['found_as'] -%></div>
      <h4>Authors</h4>
      <ul class="authors">
        <% classification['authors'].each do |author| %>
          <li>
            <div class="name"><%= "#{author['first_name']} #{author['last_name']}"-%> (<%= mail_to(author['email']) -%>)</div>
          </li>
        <% end %>
      </ul>
      <a href="#" class="import">Import</a>
    </li>
  <% end %>
</ul>
