<div class="tree-column">
  <div id="treewrap-right">
  <div id="tabs">
    <ul id="tab-titles">
      <% @master_tree.reference_trees.each do |reference_tree| %>
        <li><a href="#<%=dom_id(reference_tree)%>"><%= reference_tree.title %></a></li>
      <% end %>
      <li><a href="#new-tab">New Tab</a></li>
      <li id="trash"><a href="#trash-tab">Trash</a></li>
    </ul>

    <!-- Start tab content -->
    <% @master_tree.reference_trees.each do |reference_tree| %>
      <div id=<%= dom_id(reference_tree) %>>
        <div class="tree-background">
          <div class="breadcrumbs">
          </div>
          <div class="searchbar">
            <div class="grid-button">
              <%= link_to edit_master_tree_path do %>
                <%= image_tag 'settings-active.png', :class => 'icon' %>Edit Tree Information
              <% end %>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="reference_tree_container">
            <div id=<%= dom_id(reference_tree, "container_for") %>></div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- End of reference trees tabs -->
    <div id="new-tab">
        <%= render :template => 'imports/new', :layout => 'layouts/right_tree' %>
    </div>
    <!-- End of tabs-new tab -->
    <div id="trash-tab">
      <div class="tree-background dark">
        <div class="metadata-header">
          <h1>Trash Bin</h1>
        </div>
        <p>Your Trash Bin is currently Empty.</p>
      </div>
   </div>
   <!-- End of trash tab -->
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.jstree' %>

  <script type="text/javascript" class="source">
     $(document).ready(function() {

      $("#import-roots-button").click(function() {
        var imports = $("#import-roots").val().split("\n")
         $.ajax({
           type: "POST",
           url: "<%= reference_trees_path(:format => 'json') %>",
           contentType: "application/json",
           dataType: 'json',
           data: JSON.stringify({reference_tree: {title: "List",
                                                  master_tree_id: <%= @master_tree.id %>},
                                 nodes_list: imports}),
           success: function(data, textStatus, xhr) {
           location.reload();
           }
         });
      });

    <% @master_tree.reference_trees.each do |reference_tree| %>
      $("#<%= dom_id(reference_tree, 'container_for')%>").jstree({
        "json_data": {
          "ajax": {
          "url": "<%= reference_tree_nodes_path(:reference_tree_id => reference_tree.id, :format => 'json') %>",
            "data" : function (node) {
              if (node.attr) {
                return { parent_id : node.attr("id") };
              } else {
                return {};
              }
            }
          },
        },
        "plugins" : [ "themes", "json_data", "crrm", "ui",  "contextmenu", "dnd"]

        });
    <% end %>

    });
  </script>
<% end %>
