<div class="tree-column">
  <div id="treewrap-right">
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
      <ul id="tab-titles" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top">
          <a href="#" id="all-tabs">All reference trees (<%= @master_tree.reference_trees.size %>)</a>

          <ul id="reference-trees">
            <% @master_tree.reference_trees.each do |reference_tree| %>
              <li class="clearfix"><a href="#<%= dom_id(reference_tree) %>"><%= reference_tree.title %></a></li>
            <% end %>
          </ul>
        </li>
        <li id="deleted" class="ui-state-default ui-corner-top"><a href="#<%= dom_id(@master_tree.deleted_tree) %>">Deleted Names</a></li>
        <li id="messages-tab" class="ui-state-default ui-corner-top"><a href="#current-messages">Chat</a></li>
        <li id="import" class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#new-tab">Import</a></li>
      </ul>

      <% @master_tree.reference_trees.each do |reference_tree| %>
        <%= render :partial => 'reference_trees/reference_tree', :locals => { :reference_tree => reference_tree } %>
      <% end %>
       
      <%= render :partial => 'deleted_tree/deleted_tree', :locals => { :deleted_tree => @master_tree.deleted_tree } %>

      <%= render :partial => 'current_messages/current_message' %>

      <div id="new-tab" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
          <%= render :template => 'imports/new', :layout => 'layouts/right_tree' %>
      </div>

    </div>
  </div>
</div>
