<div id="bodywrap">
<% content_for :header do %>
  <%= @master_tree.title %>
<% end %>

<!-- Start of Edit Tree Box -->
  <!-- Start of Tree -->
  <div class="tree-column">
    <div class="treewrap">
      <%= semantic_form_for(@master_tree, :url => master_tree_path(@master_tree), :html => { :method => :put, :id => "tree-metadata" }) do |form| %>
        <div class="tree-back-wrap">
          <div class="metadata-header">
            <h1>Edit Tree Information</h1>
          </div>
          <%= render :partial => "form", :locals => { :form => form } %>
        </div>
        <%= form.buttons do -%>
          <%= form.commit_button "Update", :button_html => { :class => "green-submit" } %>
          <%= link_to "Cancel", master_tree_path(@master_tree), :class => "cancel-button" %>
        <% end -%>
      <% end %>
  </div>
  <!-- End of Tree -->
</div>
