<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1>Your Working Trees</h1>
        <div id="tree-new" class="tree-link clearfix">
          <a href="<%= new_master_tree_path %>"><span>Create Working Tree</span></a>
        </div>
    </div>
  </div>
<% end %>

<% if @master_trees.any? %>
  <ul id="treelist" class="clearfix">
    <% @master_trees.each do |tree| %>
      <li>
        <a href="<%= master_tree_url(tree.id) %>" class="clearfix">
          <span class="content">
            <h3><%= tree.title %></h3>
            <% if tree.abstract.present? %>
              <p><%= tree.abstract %></p>
            <% end %>

            <span class="date-wrap">
              <div class="date"><strong>Created:</strong> <%= tree.created_at.to_s(:long) %></div>
              <% if tree.master_tree_logs.any? %>
                <div class="date"><strong>Last Edited:</strong> <%= tree.master_tree_logs.last.created_at.to_s(:long) %></div>
                <div class="date"><strong>Last Edited By:</strong> <%= tree.master_tree_logs.last.user.email %></div>
              <% end %>
            </span>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
