<div id="bodywrap">
  <% content_for :header do %>
    Your Master Trees
  <% end %>
  
  <!-- New Tree Button -->
              <div id="newtree">
                <a href="<%= new_master_tree_path %>">
                  <div class="content">
                    <h1>Create New Master Tree</h1>
                    <p>Create and edit a new master tree</p>
                  </div>
                </a>
              </div>
            
  <!-- Master Trees List -->
  <% if current_user.master_trees.any? %>
            <ul id="treelist">
              <% current_user.master_trees.each do |tree| %>
              <a href="<%= master_tree_url(tree.id) %>">
                <li>
                  <div class="content">
                    <h1><%= tree.title %></h1>
                    <% if tree.abstract.present? %>
                      <p><%= tree.abstract %></p>
                    <% end %>
                    <div class="date-wrap">
                      <div class="date">Created: <%= tree.created_at.to_s(:short_date) %></div>
                      <div class="date">Last Edited: <%= tree.updated_at.to_s(:short_date) %></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </a>
              <% end %>
            </ul>
  <% end %>
  <!-- End Tree List -->
</div>

