<div id="header">
  <% if @master_tree.title == 'New Working Tree' %>
    <input type="text" id="master_tree_title_input"><span>Enter a title for your newly created tree.</span>
  <% else %>
    <h1><%= @master_tree.title %></h1>
  <% end %>
</div>

<div class="tree-column clearfix">
  <div id="fluid-head"></div>

  <div id="treewrap-main">
    <div class="tree-background">
      <div class="breadcrumbs">
        <ul>
          <li>Working tree</li>
        </ul>
      </div>

      <%= render :partial => 'shared/tree_searches.html' %>

      <div id="toolbar" class="toolbar ddsmoothmenu clearfix">
        <ul class="topnav">
          <li><a href="#">File</a>
            <ul class="subnav">
                <li class="divider-after"><a href="#" class="nav-add-node">Add node</a></li>
                <li><%= link_to edit_master_tree_path, :class => "nav-edit-tree" do %>Edit tree info<% end %></li>
                <li class="divider-after"><a href="#" class="nav-publish-tree" data-master-tree-id="<%=@master_tree.id%>">Publish tree</a></li>
                <li><a href="#" class="nav-delete-tree" data-master-tree-id="<%=@master_tree.id%>">Delete tree</a></li>
            </ul>
          </li>
          <li><a href="#">Edit</a>
            <ul class="subnav">
<!--
// COMMENTED OUT UNTIL AN UNDO CALLBACK IS IMPLEMENTED
                <li><a href="#" class="nav-undo">Undo</a>
-->

<!--
// TO BE DYNAMICALLY FILLED WHEN PRIOR ACTIONS ARE RECORDED
                    <ul class="subnav">
                        <li><a href="#">Step one</a></li>
                        <li><a href="#">Step two</a></li>
                        <li><a href="#">Step three</a></li>
                    </ul>
-->

<!--
                </li>
                <li class="divider-after"><a href="#" class="nav-redo">Redo</a></li>
-->
                <li><a href="#" class="nav-edit-node">Edit node</a></li>
                <li><a href="#" class="nav-cut-node">Cut</a></li>
                <li class="divider-after"><a href="#" class="nav-paste-node">Paste</a></li>
                <li><a href="#" class="nav-delete-node">Delete node</a></li>
            </ul>
          </li>
          <li><a href="#">View</a>
            <ul class="subnav">
              <li><a href="#" class="nav-refresh-tree">Refresh tree</a></li>
              <li><a href="#" class="nav-collapse-tree">Collapse tree</a></li>
            </ul>
          </li>
        </ul>

      </div>

      <div id="add-node-wrap">
        <div class="tree-container" data-database-id="<%= @master_tree.id %>">
          <div id="master-tree"></div>
        </div>
      </div>

      <%= render :partial => 'metadata' %>
    </div>
  </div>

</div>

<%= render :partial => "reference_trees" %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'jstree/jquery.jstree', 'jquery.cookie', 'jquery.scrollTo-min', 'ddsmoothmenu' %>

  <script type="text/javascript">
    $.jstree._themes = '/javascripts/jstree/themes/';
  </script>
<% end %>
