<div id="header">
  <% if @master_tree.title == 'New Master Tree' %>
    <input type="text" id="master_tree_title"><span>Enter a title for your newly created tree.</span>
  <% else %>
    <h1><%= @master_tree.title %></h1>
  <% end %>
</div>

<div id="flash-wrapper">
  <%= render :partial => 'shared/flashes' -%>
</div>

<div class="tree-column clearfix">
  <div id="fluid-head"></div>

  <div id="treewrap-left">
    <div class="tree-background">
      <div class="breadcrumbs">
        <ul>
          <li>Breadcrumb</li>
          <li>Breadcrumb</li>
          <li>Breadcrumb</li>
        </ul>
      </div>

      <div class="searchbar clearfix">
        <div class="grid-button">
          <%= link_to edit_master_tree_path do %>
            Edit Tree Info
          <% end %>
        </div>

        <div class="grid-button">
          <%= link_to edit_master_tree_path do %>
            Publish To GNACLR
          <% end %>
        </div>

        <div id="add-node" class="clearfix">
          <a href="#"><span>Add Node</span></a>
        </div>
      </div>

      <div id="add-node-wrap">
        <div id="tree-container" data-database-id="<%= @master_tree.id %>">
          <div id="master-tree"></div>
        </div>
      </div>

      <%= render :partial => 'metadata' %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.jstree.min' %>

  <script type="text/javascript">
    $.jstree._themes = '/javascripts/themes/';
  </script>
<% end %>

<%= render :partial => "reference_trees" %>
