<div id="header">
  <% if @master_tree.title == 'New Master Tree' %>
    <input type="text" id="master_tree_title_input"><span>Enter a title for your newly created tree.</span>
  <% else %>
    <h1><%= @master_tree.title %></h1>
  <% end %>
</div>

<div class="tree-column clearfix">
  <div id="fluid-head"></div>

  <div id="treewrap-main">
    <div class="tree-background">
      <div class="breadcrumbs">
        <ul>
          <li>Master tree</li>
        </ul>
      </div>

      <div class="searchbar clearfix">
        <div class="grid-button">
              <%= link_to edit_master_tree_path do %>
                Edit Tree Info
               <% end %>
        </div>

        <div class="grid-button">
          <%= button_to "Delete Tree", master_tree_path(@master_tree),
                        :method => :delete,
                        :confirm => "Are you sure you want to delete your master tree?" -%>
        </div>

        <div id="search-node">
          <input id="master-tree-search" type="text" size="30">
        </div>

        <div id="add-node" class="clearfix">
          <a href="#"><span>Add Node</span></a>
        </div>
      </div>

      <div id="add-node-wrap">
        <div id="tree-container" data-database-id="<%= @master_tree.id %>">
          <div id="master-tree"></div>
        </div>
      </div>

      <%= render :partial => 'metadata' %>
    </div>
  </div>

</div>

<%= render :partial => "reference_trees" %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'jstree/jquery.jstree', 'jquery.cookie' %>

  <script type="text/javascript">
    $.jstree._themes = '/javascripts/jstree/themes/';
  </script>
<% end %>
