<div id="header">
  <% if @master_tree.title == 'New Working Tree' %>
    <input type="text" id="master_tree_title_input"><span>Enter a title for your newly created tree.</span>
  <% else %>
    <h1><%= @master_tree.title %></h1>
  <% end %>
</div>

<div class="tree-column clearfix">
  <div id="fluid-head"></div>

  <div id="treewrap-main">
    <div class="tree-background">
      <div class="breadcrumbs">
        <ul>
          <li>Working tree</li>
        </ul>
      </div>

      <%= render :partial => 'shared/tree_searches.html' %>

      <%= render :partial => 'shared/tree_toolbars.html', :locals => { :tree_type => 'MasterTree', :tree => @master_tree } %>

      <%= render :partial => 'shared/bookmark_form.html', :locals => { :tree => @master_tree } %>

      <div id="add-node-wrap">
        <div class="tree-container" data-database-id="<%= @master_tree.id %>">
          <div id="master-tree"></div>
        </div>
      </div>

      <%= render :partial => 'metadata' %>
    </div>
  </div>

</div>

<%= render :partial => 'bulkcreate_form.html' %>

<%= render :partial => "reference_trees" %>

<% content_for :javascript do %>
<%= javascript_include_tag 'juggernaut/json', 'juggernaut/socket_io', 'juggernaut/juggernaut', 'application', 'jstree/jquery.jstree', 'jquery.jstree.bookmarks', 'jquery.cookie', 'jquery.hotkeys', 'jquery.jstree.bulkcreate', 'jquery.jstree.undoredo', 'jquery.scrollTo-min', 'ddsmoothmenu' %>

<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(GNITE.Tree.MasterTree, { "root" : "<%= @master_tree.root.id %>", "state" : "<%= @master_tree.state %>", "user_id" : "<%= current_user.id %>" });
//--><!]]>
$.jstree._themes = '/javascripts/jstree/themes/';
</script>
<% end %>
