<div id="<%= dom_id(reference_tree) %>" class="reference-tree reference-tree-<%= reference_tree.state %> ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
  <div class="tree-background">

    <div class="breadcrumbs">
      <ul>
        <li>Reference Trees</li>
        <li><%= reference_tree.title %></li>
      </ul>
    </div>

    <div class="searchbar">
        <input class="reference-tree-search" type="text" size="30">
        <div class="searchicon">&nbsp;</div>
    </div>

    <div class="reference_tree_container">
      <div id=<%= dom_id(reference_tree, "container_for") %>></div>
    </div>

    <%= render :partial => 'master_trees/metadata.html' %>
  </div>
</div>
