<div id="<%= dom_id(reference_tree) %>" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
  <div class="tree-background">
    <div class="breadcrumbs">
      <ul>
        <li>Working Trees</li>
        <li><%= reference_tree.title %></li>
      </ul>
    </div>
    <div class="searchbar clearfix">
      <div class="grid-button">
        <%= link_to reference_tree_path(reference_tree) do %>
          View Tree Information
        <% end %>
      </div>
    </div>
    <div class="reference_tree_container">
      <div id=<%= dom_id(reference_tree, "container_for") %>></div>
    </div>

    <%= render :partial => 'master_trees/metadata.html' %>
  </div>
</div>
