<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1><%= raw @breadcrumbs.map { |txt, path| "#{link_to_unless(path.blank?, h(txt), path)}" }.join(" :: ") %> :: <%= @user.email %></h1>
    </div>
  </div>
<% end %>

<%= semantic_form_for(@user, url: admin_user_path, html: { method: :put }) do |f| %>

<%= render partial: 'users/shared/user_fields', locals: { f: f } %>

<%= render partial: 'users/shared/user_account', locals: { f: f} %>

<%= render partial: 'users/shared/user_roles', locals: { f: f } %>

<!-- Submit -->
  <%= f.actions do -%>
    <%= f.action :submit, as: :button, label: "Save changes", button_html: { name: "commit", class: "green-submit" } %>
  <% end %>

<% end %>