<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1><%= raw @breadcrumbs.map { |txt, path| "#{link_to_unless(path.blank?, h(txt), path)}" }.join(" :: ") %> :: Users</h1>
      <% if can? :create, User %>
        <div id="tree-new" class="tree-link clearfix">
          <a href="<%= new_admin_user_path %>"><span>Create New User</span></a>
        </div>
      <% end %>
      <div id="admin-user-count" class="tree-link">
        Online: <span><%= Roster.count %></span>
      </div>
      <div id="admin-user-count" class="tree-link">
        Total: <span><%= @users.total_entries %></span>
      </div>
    </div>
  </div>
<% end %>

<div class="clearfix">
  <%= will_paginate @users, :class => 'pagination' %>
</div>

<table class="gnite-table">
  <thead>
    <tr>
      <td class="header-status">Status</td>
      <td class="header-user">Given Name</td>
      <td class="header-user">Surname</td>
      <td class="header-user">Email</td>
      <td class="header-updated">Last Accessed</td>
      <td class="header-status">Roles</td>
      <td class="header-action">Actions</td>
    </tr>
  </thead>
  <tbody>
  <% if @users.any? %>
    <% @users.each do |user| %>
    <tr class="<% row_type = cycle("even", "odd") %><%= row_type %><%= (user == @users.last && row_type == 'even') ? " last last-even" : (user == @users.last && row_type == 'odd') ? " last last-odd": "" %>">
      
      <% status = user.online? ? "online" : "offline" %>
      <td class="<%= status %> chat-user-<%= user.id %>"><%= status %></td>
      <td><%= user.given_name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.roles.map { |r| r.name.humanize }.join(", ") %>
      <td class="actions">
        <% if can? :update, User %>
          <span><%= link_to "Edit", edit_admin_user_path(user.id) %></span>
        <% end %>
        <span class="chat-user-<%= user.id %>"><%= link_to "Join", master_tree_url(user.active_master_tree) if user.online? %></span>
      </td>
    </tr>
    <% end %>
  <% else %>
     <tr class="single">
       <td colspan="6">There are not yet any users</td>
     </tr>
  <% end %>
  </tbody>
</table>

<div class="clearfix">
  <%= will_paginate @users, :class => 'pagination' %>
</div>

<% content_for :javascript do %>
<%= javascript_include_tag 'juggernaut/application', 'admin' %>
<% end %>