<!DOCTYPE html>
<html>
<head>
  <title>Gnite</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="wrapper">
    <%= render :partial => 'shared/flashes' -%>
    <% if current_user %>
      <%= render :partial => 'shared/navigation' %>
    <% end %>
    <%= yield %>
    <%= render :partial => 'shared/javascript' %>
  </div>
</body>
</html>
