<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= meta_description %>">
  <title>GNITE</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'reset', 'screen', 'Aristo/jquery-ui-1.8rc3.custom' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="wrapper">

    <%= render :partial => 'shared/login' %>

  </div>
  <%= render :partial => 'shared/javascript' %>
</body>
</html>