<!DOCTYPE html>
<html>
<head>
  <title>Gnite</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="wrapper">

    <!-- Start of Login Content -->
    <div id="loginwrap" class="clearfix">
      <div id="flash-login-wrap">
        <%= render :partial => 'shared/flashes' -%>
      </div>
      <!-- Start of Logo -->
      <div id="loginlogo">
        <img src="/images/login-logo.png"/>
      </div>
      <!-- End of Logo -->

      <%= yield %>
    </div>
    <!-- End of Body Content -->

    <%= render :partial => 'shared/javascript' %>
  </div>
</body>
</html>

