<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= meta_description %>">
  <title>GNITE</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="wrapper">
    <%= render :partial => 'shared/navigation' %>
    <div id="content">
      <% if content_for?(:header) %>
        <div id="header">
          <h1><%= yield :header %></h1>
        </div>
      <% end %>
      <div id="bodywrap">
        <%= render :partial => 'shared/flashes' -%>
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'shared/javascript' %>
  </div>
</body>
</html>
