<% content_for :header do %>
  Profile Settings
<% end %>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <div class="infobox-wrap">
    <div class="breadcrumbs">
      <ul>
        <li>Account</li>
      </ul>
    </div>
    <div class="infobox">

    <div class="info-content">
      <%= f.inputs do -%>
        <%= f.input :email, :required => true %>
        <%= f.input :current_password, :hint => "required to confirm changes", :required => true %>
        <%= f.input :password, :label => "New password", :hint => "leave blank if you do not want to change your current password" %>
        <%= f.input :password_confirmation %>
      <% end -%>
    </div>

    </div>
  </div>

  <div class="infobox-wrap">
    <div class="breadcrumbs">
      <ul>
        <li>Profile</li>
      </ul>
    </div>
    <div class="infobox">

    <div class="info-content">
      <%= f.inputs do -%>
        <%= f.input :given_name %>
        <%= f.input :surname %>
        <%= f.input :affiliation %>
      <% end -%>
    </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <%= f.buttons do -%>
    <%= f.commit_button "Save changes", :button_html => { :class => "green-submit" } %>
  <% end %>

<% end %>